.profile-drawer {
  border-top-right-radius: 1rem !important;
  border-top-left-radius: 1rem !important;

  .ant-drawer-mask {
    background: transparent !important;
  }

  .ant-drawer-header {
    position: relative;
  }

  .ant-drawer-header-title {
    justify-content: end;
    position: absolute;
    right: 12px;
    top: 12px;
  }

  .ant-drawer-close {
    background: #f1f2f6;
    margin-inline-end: 0;
    border-radius: 50%;
    padding: 7px;
    color: #645e55;
  }

  .ant-drawer-body {
    padding: 54px;
    padding-top: 33px;
  }
}
